/* content.css */

.orbitar-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2147483647;
  border-radius: 9999px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  background-color: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbitar-icon img {
  width: 18px;
  height: 18px;
}
